@charset "UTF-8";
.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.ms-1 {
  margin-left: 5px;
}

.ms-2 {
  margin-left: 10px;
}

.ms-3 {
  margin-left: 15px;
}

.ms-4 {
  margin-left: 20px;
}

.ms-5 {
  margin-left: 25px;
}

.me-1 {
  margin-right: 5px;
}

.me-2 {
  margin-right: 10px;
}

.me-3 {
  margin-right: 15px;
}

.me-4 {
  margin-right: 20px;
}

.me-5 {
  margin-right: 25px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-5 {
  margin-left: 25px;
  margin-right: 25px;
}

@media (min-width: 576px) {
  .m-sm-1 {
    margin: 5px;
  }
  .m-sm-2 {
    margin: 10px;
  }
  .m-sm-3 {
    margin: 15px;
  }
  .m-sm-4 {
    margin: 20px;
  }
  .m-sm-5 {
    margin: 25px;
  }
}
@media (min-width: 768px) {
  .m-md-1 {
    margin: 5px;
  }
  .m-md-2 {
    margin: 10px;
  }
  .m-md-3 {
    margin: 15px;
  }
  .m-md-4 {
    margin: 20px;
  }
  .m-md-5 {
    margin: 25px;
  }
}
@media (min-width: 991px) {
  .m-lg-1 {
    margin: 5px;
  }
  .m-lg-2 {
    margin: 10px;
  }
  .m-lg-3 {
    margin: 15px;
  }
  .m-lg-4 {
    margin: 20px;
  }
  .m-lg-5 {
    margin: 25px;
  }
}
@media (min-width: 1200px) {
  .m-xl-1 {
    margin: 5px;
  }
  .m-xl-2 {
    margin: 10px;
  }
  .m-xl-3 {
    margin: 15px;
  }
  .m-xl-4 {
    margin: 20px;
  }
  .m-xl-5 {
    margin: 25px;
  }
}
@media (min-width: 1400px) {
  .m-xxl-1 {
    margin: 5px;
  }
  .m-xxl-2 {
    margin: 10px;
  }
  .m-xxl-3 {
    margin: 15px;
  }
  .m-xxl-4 {
    margin: 20px;
  }
  .m-xxl-5 {
    margin: 25px;
  }
}
@media (min-width: 576px) {
  .mt-sm-1 {
    margin-top: 5px;
  }
  .mt-sm-2 {
    margin-top: 10px;
  }
  .mt-sm-3 {
    margin-top: 15px;
  }
  .mt-sm-4 {
    margin-top: 20px;
  }
  .mt-sm-5 {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .mt-md-1 {
    margin-top: 5px;
  }
  .mt-md-2 {
    margin-top: 10px;
  }
  .mt-md-3 {
    margin-top: 15px;
  }
  .mt-md-4 {
    margin-top: 20px;
  }
  .mt-md-5 {
    margin-top: 25px;
  }
}
@media (min-width: 991px) {
  .mt-lg-1 {
    margin-top: 5px;
  }
  .mt-lg-2 {
    margin-top: 10px;
  }
  .mt-lg-3 {
    margin-top: 15px;
  }
  .mt-lg-4 {
    margin-top: 20px;
  }
  .mt-lg-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .mt-xl-1 {
    margin-top: 5px;
  }
  .mt-xl-2 {
    margin-top: 10px;
  }
  .mt-xl-3 {
    margin-top: 15px;
  }
  .mt-xl-4 {
    margin-top: 20px;
  }
  .mt-xl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1400px) {
  .mt-xxl-1 {
    margin-top: 5px;
  }
  .mt-xxl-2 {
    margin-top: 10px;
  }
  .mt-xxl-3 {
    margin-top: 15px;
  }
  .mt-xxl-4 {
    margin-top: 20px;
  }
  .mt-xxl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 576px) {
  .mb-sm-1 {
    margin-top: 5px;
  }
  .mb-sm-2 {
    margin-top: 10px;
  }
  .mb-sm-3 {
    margin-top: 15px;
  }
  .mb-sm-4 {
    margin-top: 20px;
  }
  .mb-sm-5 {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .mb-md-1 {
    margin-top: 5px;
  }
  .mb-md-2 {
    margin-top: 10px;
  }
  .mb-md-3 {
    margin-top: 15px;
  }
  .mb-md-4 {
    margin-top: 20px;
  }
  .mb-md-5 {
    margin-top: 25px;
  }
}
@media (min-width: 991px) {
  .mb-lg-1 {
    margin-top: 5px;
  }
  .mb-lg-2 {
    margin-top: 10px;
  }
  .mb-lg-3 {
    margin-top: 15px;
  }
  .mb-lg-4 {
    margin-top: 20px;
  }
  .mb-lg-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .mb-xl-1 {
    margin-top: 5px;
  }
  .mb-xl-2 {
    margin-top: 10px;
  }
  .mb-xl-3 {
    margin-top: 15px;
  }
  .mb-xl-4 {
    margin-top: 20px;
  }
  .mb-xl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1400px) {
  .mb-xxl-1 {
    margin-top: 5px;
  }
  .mb-xxl-2 {
    margin-top: 10px;
  }
  .mb-xxl-3 {
    margin-top: 15px;
  }
  .mb-xxl-4 {
    margin-top: 20px;
  }
  .mb-xxl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 576px) {
  .ms-sm-1 {
    margin-top: 5px;
  }
  .ms-sm-2 {
    margin-top: 10px;
  }
  .ms-sm-3 {
    margin-top: 15px;
  }
  .ms-sm-4 {
    margin-top: 20px;
  }
  .ms-sm-5 {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .ms-md-1 {
    margin-top: 5px;
  }
  .ms-md-2 {
    margin-top: 10px;
  }
  .ms-md-3 {
    margin-top: 15px;
  }
  .ms-md-4 {
    margin-top: 20px;
  }
  .ms-md-5 {
    margin-top: 25px;
  }
}
@media (min-width: 991px) {
  .ms-lg-1 {
    margin-top: 5px;
  }
  .ms-lg-2 {
    margin-top: 10px;
  }
  .ms-lg-3 {
    margin-top: 15px;
  }
  .ms-lg-4 {
    margin-top: 20px;
  }
  .ms-lg-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .ms-xl-1 {
    margin-top: 5px;
  }
  .ms-xl-2 {
    margin-top: 10px;
  }
  .ms-xl-3 {
    margin-top: 15px;
  }
  .ms-xl-4 {
    margin-top: 20px;
  }
  .ms-xl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1400px) {
  .ms-xxl-1 {
    margin-top: 5px;
  }
  .ms-xxl-2 {
    margin-top: 10px;
  }
  .ms-xxl-3 {
    margin-top: 15px;
  }
  .ms-xxl-4 {
    margin-top: 20px;
  }
  .ms-xxl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 576px) {
  .me-sm-1 {
    margin-top: 5px;
  }
  .me-sm-2 {
    margin-top: 10px;
  }
  .me-sm-3 {
    margin-top: 15px;
  }
  .me-sm-4 {
    margin-top: 20px;
  }
  .me-sm-5 {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .me-md-1 {
    margin-top: 5px;
  }
  .me-md-2 {
    margin-top: 10px;
  }
  .me-md-3 {
    margin-top: 15px;
  }
  .me-md-4 {
    margin-top: 20px;
  }
  .me-md-5 {
    margin-top: 25px;
  }
}
@media (min-width: 991px) {
  .me-lg-1 {
    margin-top: 5px;
  }
  .me-lg-2 {
    margin-top: 10px;
  }
  .me-lg-3 {
    margin-top: 15px;
  }
  .me-lg-4 {
    margin-top: 20px;
  }
  .me-lg-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .me-xl-1 {
    margin-top: 5px;
  }
  .me-xl-2 {
    margin-top: 10px;
  }
  .me-xl-3 {
    margin-top: 15px;
  }
  .me-xl-4 {
    margin-top: 20px;
  }
  .me-xl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1400px) {
  .me-xxl-1 {
    margin-top: 5px;
  }
  .me-xxl-2 {
    margin-top: 10px;
  }
  .me-xxl-3 {
    margin-top: 15px;
  }
  .me-xxl-4 {
    margin-top: 20px;
  }
  .me-xxl-5 {
    margin-top: 25px;
  }
}
.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.ps-1 {
  padding-left: 5px;
}

.ps-2 {
  padding-left: 10px;
}

.ps-3 {
  padding-left: 15px;
}

.ps-4 {
  padding-left: 20px;
}

.ps-5 {
  padding-left: 25px;
}

.pe-1 {
  padding-right: 5px;
}

.pe-2 {
  padding-right: 10px;
}

.pe-3 {
  padding-right: 15px;
}

.pe-4 {
  padding-right: 20px;
}

.pe-5 {
  padding-right: 25px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 576px) {
  .p-sm-1 {
    padding: 5px;
  }
  .p-sm-2 {
    padding: 10px;
  }
  .p-sm-3 {
    padding: 15px;
  }
  .p-sm-4 {
    padding: 20px;
  }
  .p-sm-5 {
    padding: 25px;
  }
}
@media (min-width: 768px) {
  .p-md-1 {
    padding: 5px;
  }
  .p-md-2 {
    padding: 10px;
  }
  .p-md-3 {
    padding: 15px;
  }
  .p-md-4 {
    padding: 20px;
  }
  .p-md-5 {
    padding: 25px;
  }
}
@media (min-width: 991px) {
  .p-lg-1 {
    padding: 5px;
  }
  .p-lg-2 {
    padding: 10px;
  }
  .p-lg-3 {
    padding: 15px;
  }
  .p-lg-4 {
    padding: 20px;
  }
  .p-lg-5 {
    padding: 25px;
  }
}
@media (min-width: 1200px) {
  .p-xl-1 {
    padding: 5px;
  }
  .p-xl-2 {
    padding: 10px;
  }
  .p-xl-3 {
    padding: 15px;
  }
  .p-xl-4 {
    padding: 20px;
  }
  .p-xl-5 {
    padding: 25px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-1 {
    padding: 5px;
  }
  .p-xxl-2 {
    padding: 10px;
  }
  .p-xxl-3 {
    padding: 15px;
  }
  .p-xxl-4 {
    padding: 20px;
  }
  .p-xxl-5 {
    padding: 25px;
  }
}
@media (min-width: 576px) {
  .pt-sm-1 {
    padding-top: 5px;
  }
  .pt-sm-2 {
    padding-top: 10px;
  }
  .pt-sm-3 {
    padding-top: 15px;
  }
  .pt-sm-4 {
    padding-top: 20px;
  }
  .pt-sm-5 {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .pt-md-1 {
    padding-top: 5px;
  }
  .pt-md-2 {
    padding-top: 10px;
  }
  .pt-md-3 {
    padding-top: 15px;
  }
  .pt-md-4 {
    padding-top: 20px;
  }
  .pt-md-5 {
    padding-top: 25px;
  }
}
@media (min-width: 991px) {
  .pt-lg-1 {
    padding-top: 5px;
  }
  .pt-lg-2 {
    padding-top: 10px;
  }
  .pt-lg-3 {
    padding-top: 15px;
  }
  .pt-lg-4 {
    padding-top: 20px;
  }
  .pt-lg-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .pt-xl-1 {
    padding-top: 5px;
  }
  .pt-xl-2 {
    padding-top: 10px;
  }
  .pt-xl-3 {
    padding-top: 15px;
  }
  .pt-xl-4 {
    padding-top: 20px;
  }
  .pt-xl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .pt-xxl-1 {
    padding-top: 5px;
  }
  .pt-xxl-2 {
    padding-top: 10px;
  }
  .pt-xxl-3 {
    padding-top: 15px;
  }
  .pt-xxl-4 {
    padding-top: 20px;
  }
  .pt-xxl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 576px) {
  .pb-sm-1 {
    padding-top: 5px;
  }
  .pb-sm-2 {
    padding-top: 10px;
  }
  .pb-sm-3 {
    padding-top: 15px;
  }
  .pb-sm-4 {
    padding-top: 20px;
  }
  .pb-sm-5 {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .pb-md-1 {
    padding-top: 5px;
  }
  .pb-md-2 {
    padding-top: 10px;
  }
  .pb-md-3 {
    padding-top: 15px;
  }
  .pb-md-4 {
    padding-top: 20px;
  }
  .pb-md-5 {
    padding-top: 25px;
  }
}
@media (min-width: 991px) {
  .pb-lg-1 {
    padding-top: 5px;
  }
  .pb-lg-2 {
    padding-top: 10px;
  }
  .pb-lg-3 {
    padding-top: 15px;
  }
  .pb-lg-4 {
    padding-top: 20px;
  }
  .pb-lg-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .pb-xl-1 {
    padding-top: 5px;
  }
  .pb-xl-2 {
    padding-top: 10px;
  }
  .pb-xl-3 {
    padding-top: 15px;
  }
  .pb-xl-4 {
    padding-top: 20px;
  }
  .pb-xl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .pb-xxl-1 {
    padding-top: 5px;
  }
  .pb-xxl-2 {
    padding-top: 10px;
  }
  .pb-xxl-3 {
    padding-top: 15px;
  }
  .pb-xxl-4 {
    padding-top: 20px;
  }
  .pb-xxl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 576px) {
  .ps-sm-1 {
    padding-top: 5px;
  }
  .ps-sm-2 {
    padding-top: 10px;
  }
  .ps-sm-3 {
    padding-top: 15px;
  }
  .ps-sm-4 {
    padding-top: 20px;
  }
  .ps-sm-5 {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .ps-md-1 {
    padding-top: 5px;
  }
  .ps-md-2 {
    padding-top: 10px;
  }
  .ps-md-3 {
    padding-top: 15px;
  }
  .ps-md-4 {
    padding-top: 20px;
  }
  .ps-md-5 {
    padding-top: 25px;
  }
}
@media (min-width: 991px) {
  .ps-lg-1 {
    padding-top: 5px;
  }
  .ps-lg-2 {
    padding-top: 10px;
  }
  .ps-lg-3 {
    padding-top: 15px;
  }
  .ps-lg-4 {
    padding-top: 20px;
  }
  .ps-lg-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .ps-xl-1 {
    padding-top: 5px;
  }
  .ps-xl-2 {
    padding-top: 10px;
  }
  .ps-xl-3 {
    padding-top: 15px;
  }
  .ps-xl-4 {
    padding-top: 20px;
  }
  .ps-xl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .ps-xxl-1 {
    padding-top: 5px;
  }
  .ps-xxl-2 {
    padding-top: 10px;
  }
  .ps-xxl-3 {
    padding-top: 15px;
  }
  .ps-xxl-4 {
    padding-top: 20px;
  }
  .ps-xxl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 576px) {
  .pe-sm-1 {
    padding-top: 5px;
  }
  .pe-sm-2 {
    padding-top: 10px;
  }
  .pe-sm-3 {
    padding-top: 15px;
  }
  .pe-sm-4 {
    padding-top: 20px;
  }
  .pe-sm-5 {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .pe-md-1 {
    padding-top: 5px;
  }
  .pe-md-2 {
    padding-top: 10px;
  }
  .pe-md-3 {
    padding-top: 15px;
  }
  .pe-md-4 {
    padding-top: 20px;
  }
  .pe-md-5 {
    padding-top: 25px;
  }
}
@media (min-width: 991px) {
  .pe-lg-1 {
    padding-top: 5px;
  }
  .pe-lg-2 {
    padding-top: 10px;
  }
  .pe-lg-3 {
    padding-top: 15px;
  }
  .pe-lg-4 {
    padding-top: 20px;
  }
  .pe-lg-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .pe-xl-1 {
    padding-top: 5px;
  }
  .pe-xl-2 {
    padding-top: 10px;
  }
  .pe-xl-3 {
    padding-top: 15px;
  }
  .pe-xl-4 {
    padding-top: 20px;
  }
  .pe-xl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .pe-xxl-1 {
    padding-top: 5px;
  }
  .pe-xxl-2 {
    padding-top: 10px;
  }
  .pe-xxl-3 {
    padding-top: 15px;
  }
  .pe-xxl-4 {
    padding-top: 20px;
  }
  .pe-xxl-5 {
    padding-top: 25px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding: 0 1.5rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
  .container-sm {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .container-md {
    max-width: 768px;
  }
}
@media (min-width: 991px) {
  .container {
    max-width: 991px;
  }
  .container-lg {
    max-width: 991px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .container-xl {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
  .container-xxl {
    max-width: 1400px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

@media (min-width: 576px) {
  .gap-sm-1 {
    gap: 1rem;
  }
  .gap-sm-2 {
    gap: 2rem;
  }
  .gap-sm-3 {
    gap: 3rem;
  }
  .gap-sm-4 {
    gap: 4rem;
  }
  .gap-sm-5 {
    gap: 5rem;
  }
}
@media (min-width: 768px) {
  .gap-md-1 {
    gap: 1rem;
  }
  .gap-md-2 {
    gap: 2rem;
  }
  .gap-md-3 {
    gap: 3rem;
  }
  .gap-md-4 {
    gap: 4rem;
  }
  .gap-md-5 {
    gap: 5rem;
  }
}
@media (min-width: 991px) {
  .gap-lg-1 {
    gap: 1rem;
  }
  .gap-lg-2 {
    gap: 2rem;
  }
  .gap-lg-3 {
    gap: 3rem;
  }
  .gap-lg-4 {
    gap: 4rem;
  }
  .gap-lg-5 {
    gap: 5rem;
  }
}
@media (min-width: 1200px) {
  .gap-xl-1 {
    gap: 1rem;
  }
  .gap-xl-2 {
    gap: 2rem;
  }
  .gap-xl-3 {
    gap: 3rem;
  }
  .gap-xl-4 {
    gap: 4rem;
  }
  .gap-xl-5 {
    gap: 5rem;
  }
}
@media (min-width: 1400px) {
  .gap-xxl-1 {
    gap: 1rem;
  }
  .gap-xxl-2 {
    gap: 2rem;
  }
  .gap-xxl-3 {
    gap: 3rem;
  }
  .gap-xxl-4 {
    gap: 4rem;
  }
  .gap-xxl-5 {
    gap: 5rem;
  }
}
.col {
  flex-grow: 1;
}

.col-1 {
  flex-basis: 8.3333333333%;
  flex-grow: 1;
}

.col-2 {
  flex-basis: 16.6666666667%;
  flex-grow: 1;
}

.col-3 {
  flex-basis: 25%;
  flex-grow: 1;
}

.col-4 {
  flex-basis: 33.3333333333%;
  flex-grow: 1;
}

.col-5 {
  flex-basis: 41.6666666667%;
  flex-grow: 1;
}

.col-6 {
  flex-basis: 50%;
  flex-grow: 1;
}

.col-7 {
  flex-basis: 58.3333333333%;
  flex-grow: 1;
}

.col-8 {
  flex-basis: 66.6666666667%;
  flex-grow: 1;
}

.col-9 {
  flex-basis: 75%;
  flex-grow: 1;
}

.col-10 {
  flex-basis: 83.3333333333%;
  flex-grow: 1;
}

.col-11 {
  flex-basis: 91.6666666667%;
  flex-grow: 1;
}

.col-12 {
  flex-basis: 100%;
  flex-grow: 1;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }
  .col-sm-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }
  .col-sm-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }
  .col-sm-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }
  .col-sm-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }
  .col-md-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }
  .col-md-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  .col-md-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }
  .col-md-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }
  .col-md-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .col-md-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }
  .col-md-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }
  .col-md-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }
  .col-md-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }
  .col-md-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }
  .col-md-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media (min-width: 991px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }
  .col-lg-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }
  .col-lg-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  .col-lg-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }
  .col-lg-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }
  .col-lg-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .col-lg-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }
  .col-lg-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }
  .col-lg-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }
  .col-lg-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }
  .col-lg-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }
  .col-lg-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }
  .col-xl-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }
  .col-xl-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  .col-xl-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }
  .col-xl-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }
  .col-xl-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .col-xl-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }
  .col-xl-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }
  .col-xl-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }
  .col-xl-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }
  .col-xl-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }
  .col-xl-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }
  .col-xxl-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }
  .col-xxl-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  .col-xxl-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }
  .col-xxl-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }
  .col-xxl-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .col-xxl-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }
  .col-xxl-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }
  .col-xxl-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }
  .col-xxl-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }
  .col-xxl-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }
  .col-xxl-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
.movieCard {
  border: 0px !important;
  width: 170px;
}
.movieCard .card-img-btn {
  cursor: pointer !important;
}
.movieCard .card-img-btn .card-img {
  border-radius: 8px;
  width: 160px;
}
.movieCard .card-img-overlay {
  width: 0px;
  height: 0px;
}
.movieCard .threedot-btn {
  padding-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
.movieCard .threedot-btn .fa-ellipsis {
  font-size: 20px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
}
.movieCard .threedot-btn .fa-ellipsis:hover {
  color: black;
  background-color: rgb(0, 217, 255);
}
.movieCard .card-body {
  padding: 8px 8px !important;
}
.movieCard .card-body .circle-progressbar {
  position: relative;
  margin-top: -30px;
}
@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@property --pgPercentage {
  .movieCard .card-body .circle-progressbar {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
}
.movieCard .card-body .circle-progressbar div[role=progressbar] {
  --size: 2.5rem;
  --bg: #081c22;
  --fg: rgba(20, 193, 20, 0.757);
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, #081c22 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 3.5);
  color: white;
}
.movieCard .card-body .circle-progressbar div[role=progressbar]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
.movieCard .card-body .card-title {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: black;
}
.movieCard .card-body .card-title:hover {
  color: #01b4e4;
}
.movieCard .card-click {
  border-radius: 10px !important;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  border-radius: var(--imageBorderRadius);
  z-index: 5;
  transition: linear 0.1s;
  opacity: 0;
  visibility: hidden;
}
.movieCard .card-click ul {
  position: relative;
  width: 130px;
  top: 40px;
  left: 80px;
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(33, 37, 41, 0.15);
  border-radius: 8px !important;
  padding: 0px;
}
.movieCard .card-click ul li {
  border-bottom: 1px solid rgba(33, 37, 41, 0.15);
  padding: 10px;
  display: flex;
  cursor: pointer;
}
.movieCard .card-click ul li:hover {
  background-color: #081c22;
}
.movieCard .card-click ul li:hover button {
  color: #fff;
}
.movieCard .card-click ul li:last-child {
  border-bottom: none;
}
.movieCard .card-click ul li button {
  background: transparent;
  border: none;
  color: #000;
  text-decoration: none;
  display: flex;
  text-align: center;
}
.movieCard .card-click ul li button .fa-solid {
  padding-right: 10px;
}
.movieCard .card-click ul li button[data-addlist=true],
.movieCard .card-click ul li [data-favlist=true],
.movieCard .card-click ul li [data-watchlist=true],
.movieCard .card-click ul li [data-addlist=true] i {
  color: rgb(190, 7, 7) !important;
}
.movieCard .card-click ul li .star-rating-card {
  margin-left: -88px !important;
  margin-top: 25px !important;
}
.movieCard .on {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
  height: 290px !important;
  z-index: 10000 !important;
}
.movieCard .onOverlay {
  padding-left: 0px !important;
  width: 100% !important;
  z-index: 5000 !important;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.topnav {
  background-color: rgb(9, 9, 110);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
}
.topnav .search {
  display: flex;
  justify-content: space-around;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .link-side {
  margin-left: 30px;
}
.topnav .link-side .click {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  height: max-content;
  justify-content: center;
  width: 150px;
  position: absolute;
  top: 40px;
  left: 120px;
}
.topnav .link-side .click ul li {
  list-style: none;
  position: relative;
  left: 20px;
}
.topnav .link-side .click a {
  position: relative;
  color: black;
  margin-bottom: -10px;
  padding-top: 10px;
  left: -30px;
}
.topnav .link-side .tw-shows {
  position: absolute;
  top: 40px;
  left: 210px;
}
.topnav .link-side .people {
  position: absolute;
  left: 300px;
}
.topnav .link-side .more {
  position: absolute;
  left: 380px;
}
.topnav .topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav .responsive {
    position: relative;
  }
  .topnav .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.topnav .search-side .fa-magnifying-glass {
  color: white;
  width: 45px;
  height: 35px;
  padding: 15px 18px;
}

.conteiner .global-content .search-movie {
  background-image: url(/assets/img/i\ \(3\).webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.conteiner .global-content .search-movie .title {
  margin-top: 30px;
  margin-left: 40px;
}
.conteiner .global-content .search-movie .title h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
}
.conteiner .global-content .search-movie .title h2 {
  font-size: 2em;
  font-weight: 600;
  line-height: 0;
  margin-bottom: 30px;
}
.conteiner .global-content .search-movie .search-content {
  display: flex;
  margin-top: 30px;
  width: 90%;
}
.conteiner .global-content .search-movie .search-content .inp-search {
  width: 100%;
  height: 45px;
  border-radius: 22px;
  padding: 8px 10px;
  border-right: none;
  border: none;
}
.conteiner .global-content .search-movie .search-content .search-btn:hover {
  color: blue;
}
.conteiner .global-content .search-movie .search {
  display: flex;
  justify-content: center;
}
.conteiner .global-content .search-movie .search .search-btn {
  position: relative;
  left: -30px;
  background: green;
  opacity: 1;
  border-radius: 22px;
  padding: 0px 10px;
  height: 52px;
  padding-right: 10px;
  border: none;
  font-size: 1em;
  font-weight: 600;
  margin-top: 27px;
  z-index: 1;
}
.conteiner .global-content .oscars {
  height: 25vh;
  background-image: url(/assets/img/i\ \(2\).webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.conteiner .global-content .oscars .oscars-text {
  margin-left: 30px;
  font-size: 3em;
}
.conteiner .global-content .oscars .oscars-text .winn-btn {
  border: none;
  border-radius: 12px;
  padding: 12px 15px;
  background-image: url(/assets/img/i\ \(2\).webp);
  border: 2px white solid;
  font-size: large;
}
.conteiner .global-content .trending {
  margin-left: 30px;
}
.conteiner .global-content .trending .toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 200px;
  border: 1px solid black;
  border-radius: 20px;
  background: white;
  font-weight: bold;
  color: #343434;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
}
.conteiner .global-content .trending .toggleContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: blue;
  transition: all 0.3s;
}
.conteiner .global-content .trending .toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
}
.conteiner .global-content .trending .toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}
.conteiner .global-content .trending .toggleCheckbox {
  display: none;
}
.conteiner .global-content .trending .toggleCheckbox:checked + .toggleContainer div:first-child {
  color: black;
  transition: color 0.3s;
}
.conteiner .global-content .trending .toggleCheckbox:checked + .toggleContainer div:last-child {
  color: black;
  transition: color 0.3s;
}
.conteiner .global-content .trending .toggleCheckbox + .toggleContainer div:first-child {
  color: black;
  transition: color 0.3s;
}
.conteiner .global-content .trending .toggleCheckbox + .toggleContainer div:last-child {
  color: black;
  transition: color 0.3s;
}
.conteiner .global-content .trending .togle-content {
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.conteiner .global-content .trending .togle-content h1 {
  padding-top: 15px;
  padding-left: 30px;
}
.conteiner .global-content .trending .card-week {
  display: flex;
  padding-top: 25px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.conteiner .global-content .trending .card-week card {
  flex-wrap: wrap;
  padding-left: 25px;
}
.conteiner .global-content .trending ::-webkit-scrollbar {
  height: 10px;
  border-radius: 7px;
}
.conteiner .global-content .trending ::-webkit-scrollbar-track {
  border-radius: 10px;
}
.conteiner .global-content .trending ::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.315);
  border-radius: 10px;
}
.conteiner .global-content .trending .card {
  display: flex;
  padding-top: 25px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.conteiner .global-content .trending .card card {
  flex-wrap: wrap;
  padding-left: 25px;
}
.conteiner .global-content .center .jointoday {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  color: white;
  background-color: rgb(39, 36, 36);
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner .global-content .center .jointoday .text h1 {
  font-size: 2em;
}
.conteiner .global-content .center .jointoday .text p {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1em;
  font-weight: 500;
}
.conteiner .global-content .center .jointoday .text button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background-color: slateblue;
}
.conteiner .global-content .center .jointoday .list {
  margin-right: 30px;
}
.conteiner .global-content .center .jointoday .list ul li {
  margin-top: 5px;
}
.conteiner .global-content .popular {
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner .global-content .popular ::-webkit-scrollbar {
  height: 10px;
  border-radius: 7px;
}
.conteiner .global-content .popular ::-webkit-scrollbar-track {
  border-radius: 10px;
}
.conteiner .global-content .popular ::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.315);
  border-radius: 10px;
}
.conteiner .global-content .popular .card-popular {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.conteiner .global-content .popular .card-popular card {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  flex-wrap: wrap;
}
.conteiner .global-content .popular .togle-content {
  display: flex;
}
.conteiner .global-content .popular .toggleContainerr {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 20px;
  width: 100px;
  border: 1px solid black;
  border-radius: 20px;
  background: white;
  font-weight: bold;
  color: #343434;
  cursor: pointer;
}
.conteiner .global-content .popular .toggleContainerr::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: blue;
  transition: all 0.3s;
}
.conteiner .global-content .popular .toggleCheckboxx:checked + .toggleContainerr:hover {
  background-color: white;
}
.conteiner .global-content .popular .toggleContainerr span {
  padding: 6px;
  text-align: center;
  z-index: 1;
}
.conteiner .global-content .popular .toggleCheckboxx {
  display: none;
}
.conteiner .global-content .popular .toggleCheckboxx:checked + .toggleContainerr span:first-child {
  color: black;
  transition: color 0.3s;
}
.conteiner .global-content .popular .toggleCheckboxx:checked + .toggleContainerr span:last-child {
  color: black;
  transition: color 0.3s;
}
.conteiner .global-content .popular .toggleCheckboxx + .toggleContainerr span:first-child {
  color: black;
  transition: color 0.3s;
}
.conteiner .global-content .popular .toggleCheckboxx + .toggleContainerr span:last-child {
  color: black;
  transition: color 0.3s;
}
.conteiner .global-content .what-popular {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 30px;
}
.conteiner .global-content .what-popular .btn {
  display: flex;
}
.conteiner .global-content .what-popular .btn .togle-clas {
  background-color: blue;
  width: 90px;
  height: 30px;
  display: flex;
  opacity: 0.5;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  transition: all 2s;
}
.conteiner .global-content .what-popular .btn .togle {
  display: flex;
  border: 2px black solid;
  border-radius: 12px;
  width: 400px;
  height: 30px;
  margin-left: 20px;
  justify-content: space-around;
  align-items: center;
}
.conteiner .global-content .what-popular .btn .togle span {
  opacity: 1;
}
.conteiner .global-content .free-watch {
  margin-left: 30px;
}
.conteiner .global-content .free-watch .btn {
  display: flex;
}
.conteiner .global-content .free-watch .btn .togle-clas {
  width: 90px;
  height: 30px;
  display: flex;
  background-color: blue;
  opacity: 0.5;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  transition: all 2s;
}
.conteiner .global-content .free-watch .btn .togle {
  display: flex;
  border-radius: 12px;
  border: 2px solid black;
  width: 200px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-left: 20px;
}
.conteiner .global-content .free-watch .btn .togle span {
  font-size: 1em;
  color: black;
  opacity: 1;
}
.conteiner .global-content .random-bg {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.conteiner .global-content .random-bg .bg {
  background-image: url();
  width: 60%;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  display: flex;
  background-color: #031d33;
  justify-content: space-around;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .footer-wit {
  display: flex;
}
.footer .text {
  font-size: 1em;
}
.footer .img img {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
}
.footer .img button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
}
.footer .text {
  margin-left: 20px;
}

.container-popular-movie {
  box-sizing: border-box;
  margin: 50px;
}
.container-popular-movie input {
  border-radius: 3px;
  border: 1px solid gray;
  color: white;
  margin-top: 5px;
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 289px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(107, 106, 106, 0.3);
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(107, 106, 106, 0.3);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "➕";
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "➖";
}

.popular-movie-btn {
  margin-top: 10px;
  border-radius: 30px;
  border: 1px solid gray;
}

.image-card {
  max-width: 200px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  margin-left: 50px;
}

.image-card img {
  height: auto;
}

.card-content {
  text-align: center;
}

.input-range {
  width: 100%;
}

.input-text-key {
  width: 100%;
}

.input-text {
  width: 210px;
  height: 20px;
}

.conteiner-movie {
  padding-bottom: 50px;
}
.conteiner-movie .topnav {
  background-color: rgb(9, 9, 110);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.conteiner-movie .topnav .search {
  display: flex;
  justify-content: space-around;
}
.conteiner-movie .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.conteiner-movie .topnav .link-side {
  margin-left: 30px;
}
.conteiner-movie .topnav .link-side .click {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  height: max-content;
  justify-content: center;
  width: 150px;
  position: absolute;
  top: 40px;
  left: 120px;
}
.conteiner-movie .topnav .link-side .click ul li {
  list-style: none;
  position: relative;
  left: 20px;
}
.conteiner-movie .topnav .link-side .click a {
  position: relative;
  color: black;
  margin-bottom: -10px;
  padding-top: 10px;
  left: -30px;
}
.conteiner-movie .topnav .link-side .tw-shows {
  position: absolute;
  top: 40px;
  left: 210px;
}
.conteiner-movie .topnav .link-side .people {
  position: absolute;
  left: 300px;
}
.conteiner-movie .topnav .link-side .more {
  position: absolute;
  left: 380px;
}
.conteiner-movie .topnav .topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.conteiner-movie .topnav .icon {
  display: none;
}
.conteiner-movie .topnav .search-side .fa-magnifying-glass {
  color: white;
  width: 45px;
  height: 35px;
  padding: 15px 18px;
}
.conteiner-movie .header {
  color: white;
}
.conteiner-movie .header .gradient {
  width: 100%;
  background-image: linear-gradient(to right, rgb(52, 51, 51), black);
}
.conteiner-movie .header .gradient .bg-img {
  display: flex;
  padding-top: 40px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.conteiner-movie .header .gradient .bg-img .img-side {
  padding-left: 100px;
}
.conteiner-movie .header .gradient .bg-img .img-side .img-se {
  width: 300px;
  height: 450px;
}
.conteiner-movie .header .gradient .bg-img .text-side {
  margin-left: 80px;
  width: max-content;
  height: 500px;
}
.conteiner-movie .header .gradient .bg-img .text-side .pley-trailer {
  padding-top: 20px;
}
.conteiner-movie .header .gradient .bg-img .text-side .pley-trailer .br {
  font-size: 20px;
  background-color: rgb(3, 3, 111);
  padding: 15px 17px;
  border-radius: 50%;
  color: white;
}
.conteiner-movie .header .gradient .bg-img .text-side .pley-trailer button {
  border: none;
  background-color: white;
  margin-left: 20px;
}
.conteiner-movie .header .gradient .bg-img .text-side .user-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.conteiner-movie .header .gradient .bg-img .text-side .user-score .d-flex {
  display: flex;
}
.conteiner-movie .header .gradient .bg-img .text-side .user-score .d-flex p {
  font-size: 25px;
}
.conteiner-movie .header .gradient .bg-img .text-side .user-score .d-flex p:hover {
  color: orange;
}
.conteiner-movie .header .gradient .bg-img .text-side .user-score .movie-btn {
  border-radius: 8px;
  padding: 0 12px;
  height: 30px;
}
.conteiner-movie .header .gradient .bg-img .text-side .owerview {
  position: relative;
  top: 40px;
}
.conteiner-movie .header .gradient .bg-img .text-side .owerview i {
  font-weight: 900;
  font-size: 15px;
}
.conteiner-movie .header .gradient .bg-img .text-side .owerview h1 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.conteiner-movie .header .gradient .bg-img .text-side .owerview .follow {
  width: 900px;
}
.conteiner-movie .header .gradient .bg-img .text-side .owerview .people {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  width: 700px;
}
.conteiner-movie .header .gradient .bg-img .text-side .circle-progressbar {
  position: relative;
  margin-top: 20px;
}
@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@property --pgPercentage {
  .conteiner-movie .header .gradient .bg-img .text-side .circle-progressbar {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
}
.conteiner-movie .header .gradient .bg-img .text-side .circle-progressbar div[role=progressbar] {
  --size: 2.5rem;
  --bg: #081c22;
  --fg: rgba(20, 193, 20, 0.757);
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  background: radial-gradient(closest-side, #081c22 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 3.5);
  color: white;
}
.conteiner-movie .header .gradient .bg-img .text-side .circle-progressbar div[role=progressbar]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
.conteiner-movie .about {
  padding-left: 30px;
  padding-top: 50px;
}
.conteiner-movie .about .profile i {
  font-size: 30px;
  padding-left: 10px;
}
.conteiner-movie .about .column .top {
  padding-bottom: 15px;
  padding-left: 10px;
}
.conteiner-movie .cast .video {
  display: flex;
}
.conteiner-movie .cast .video .cardd {
  width: 70%;
  margin-left: 70px;
  padding-top: 30px;
}
.conteiner-movie .cast .video .cardd .flex {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 20px;
}
.conteiner-movie .cast .video .cardd .flex .person {
  border-radius: 7px;
  margin-left: 30px;
  margin-top: 15px;
}
.conteiner-movie .cast .video .cardd .flex .person .border {
  border: 1px solid black;
  border-radius: 7px;
  height: 290px;
}
.conteiner-movie .cast .video .cardd .flex .person .border img {
  width: 150px;
  height: 200px;
  border-radius: 7px;
  border: 1px black;
}
.conteiner-movie .Recommendationss {
  padding-left: 50px;
  padding-top: 30px;
}
.conteiner-movie .Recommendationss h1 {
  margin-left: 20px;
}
.conteiner-movie .Recommendations {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.conteiner-movie .Recommendations .card-trend {
  padding-left: 20px;
}
.conteiner-movie .Recommendations .card-trend img {
  width: 250px;
  height: 141px;
  border-radius: 8px;
}

.popular-movie-people1 {
  display: flex;
  flex-wrap: wrap;
}

.image-card {
  max-width: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.image-card img {
  width: 300px;
  height: auto;
}

.card-content {
  text-align: center;
}

.popular-movie-people-container {
  margin-top: 40px;
  padding: 30px 20px 0px 50px;
}

/*# sourceMappingURL=main.css.map */
