* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.conteiner {
  .global-content {
    .topnav {
      background-color: rgb(9, 9, 110);
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;

      .search {
        display: flex;
        justify-content: space-around;
      }

      a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .link-side {
        margin-left: 30px;

        .click {
          display: flex;
          flex-direction: column;
          background-color: white;
          border-radius: 7px;
          height: max-content;
          justify-content: center;
          width: 150px;
          position: absolute;
          top: 40px;
          left: 120px;

          ul {
            li {
              list-style: none;
              position: relative;
              left: 20px;
            }
          }

          a {
            position: relative;
            color: black;
            margin-bottom: -10px;
            padding-top: 10px;
            left: -30px;
          }
        }

        .tw-shows {
          position: absolute;
          top: 40px;
          left: 210px;
        }

        .people {
          position: absolute;
          left: 300px;
        }

        .more {
          position: absolute;
          left: 380px;
        }
      }

      .topnav a.active {
        background-color: #04AA6D;
        color: white;
      }

      .icon {
        display: none;
      }

      @media screen and (max-width: 600px) {
        a:not(:first-child) {
          display: none;
        }

        a.icon {
          float: right;
          display: block;
        }
      }

      /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
      @media screen and (max-width: 600px) {
        .responsive {
          position: relative;
        }

        .responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }

        .responsive a {
          float: none;
          display: block;
          text-align: left;
        }
      }

      .search-side {
        .fa-magnifying-glass {
          color: white;
          width: 45px;
          height: 35px;
          padding: 15px 18px;
        }
      }


    }

    .search-movie {
      background-image: url(/assets/img/i\ \(3\).webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 45vh;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        margin-top: 30px;
        margin-left: 40px;
      }

      .title h1 {
        font-size: 3em;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 30px;
      }

      .title h2 {
        font-size: 2em;
        font-weight: 600;
        line-height: 0;
        margin-bottom: 30px;
      }

      .search-content {
        display: flex;
        margin-top: 30px;
        width: 90%;

        .inp-search {
          width: 100%;
          height: 45px;
          border-radius: 22px;
          padding: 8px 10px;
          border-right: none;
          border: none;
        }



        .search-btn:hover {
          color: blue;
        }

      }

      .search {
        display: flex;
        justify-content: center;

        .search-btn {
          position: relative;
          left: -30px;
          background: green;
          opacity: 1;
          border-radius: 22px;
          padding: 0px 10px;
          height: 52px;
          padding-right: 10px;
          border: none;
          font-size: 1em;
          font-weight: 600;
          margin-top: 27px;
          z-index: 1;

        }


      }
    }



    .oscars {
      height: 25vh;
      background-image: url(/assets/img/i\ \(2\).webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: white;

      .oscars-text {
        margin-left: 30px;
        font-size: 3em;

        .winn-btn {
          border: none;
          border-radius: 12px;
          padding: 12px 15px;
          background-image: url(/assets/img/i\ \(2\).webp);
          border: 2px white solid;
          font-size: large;
        }
      }
    }

    .trending {
      margin-left: 30px;

      .toggleContainer {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 200px;
        border: 1px solid black;
        border-radius: 20px;
        background: white;
        font-weight: bold;
        color: #343434;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 20px;
      }

      .toggleContainer::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0%;
        border-radius: 20px;
        background: blue;
        transition: all 0.3s;
      }

      .toggleCheckbox:checked+.toggleContainer::before {
        left: 50%;
      }

      .toggleContainer div {
        padding: 6px;
        text-align: center;
        z-index: 1;
      }

      .toggleCheckbox {
        display: none;
      }

      .toggleCheckbox:checked+.toggleContainer div:first-child {
        color: greenyellow;
        transition: color 0.3s;
      }

      .toggleCheckbox:checked+.toggleContainer div:last-child {
        color: greenyellow;
        transition: color 0.3s;
      }

      .toggleCheckbox+.toggleContainer div:first-child {
        color: black;
        transition: color 0.3s;
      }

      .toggleCheckbox+.toggleContainer div:last-child {
        color: black;
        transition: color 0.3s;
      }

      .togle-content {
        display: flex;
        align-items: center;
        padding-top: 25px;

        h1 {
          padding-top: 15px;
          padding-left: 30px;
        }

      }

      .card-week {
        display: flex;
        padding-top: 25px;
        overflow-x: scroll;
        overflow-y: hidden;

        card {
          flex-wrap: wrap;
          padding-left: 25px;
        }
      }

      ::-webkit-scrollbar {
        height: 10px;
        border-radius: 7px;
      }

      ::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: rgba(128, 128, 128, 0.315);
        border-radius: 10px;
      }

      .card {
        display: flex;
        padding-top: 25px;
        overflow-x: scroll;
        overflow-y: hidden;

        card {
          flex-wrap: wrap;
          padding-left: 25px;
        }
      }
    }

    .center {

      .jointoday {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        color: white;
        background-color: rgb(39, 36, 36);
        padding-top: 30px;
        padding-bottom: 30px;

        .text {
          h1 {
            font-size: 2em;
          }

          p {
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 1em;
            font-weight: 500;
          }

          button {
            padding: 8px 12px;
            border-radius: 8px;
            border: none;
            background-color: slateblue;
          }
        }

        .list {
          margin-right: 30px;

          ul {
            li {
              margin-top: 5px;
            }
          }
        }
      }
    }


    .popular {
      margin-left: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
.togle-content{
  display: flex;
}
      .toggleContainerr {
        position: relative;
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 200px;
        border: 1px solid black;
        border-radius: 20px;
        background: white;
        font-weight: bold;
        color: #343434;
        cursor: pointer;
      }

      .toggleContainerr::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0%;
        border-radius: 20px;
        background: blue;
        transition: all 0.3s;
      }

      .toggleCheckboxx:checked+.toggleContainerr::before {
        left: 50%;
      }

      .toggleContainerr span {
        padding: 6px;
        text-align: center;
        z-index: 1;
      }

      .toggleCheckboxx {
        display: none;
      }

      .toggleCheckboxx:checked+.toggleContainerr span:first-child {
        color: greenyellow;
        transition: color 0.3s;
      }

      .toggleCheckboxx:checked+.toggleContainerr span:last-child {
        color: greenyellow;
        transition: color 0.3s;
      }

      .toggleCheckboxx+.toggleContainerr span:first-child {
        color: black;
        transition: color 0.3s;
      }

      .toggleCheckboxx+.toggleContainerr span:last-child {
        color: black;
        transition: color 0.3s;
      }

    }


    .footer {
      display: flex;
      background-color: #031d33;
      justify-content: space-around;
      color: white;
      padding-top: 20px;
      padding-bottom: 20px;

      .footer-wit {
        display: flex;

      }

      .text {
        font-size: 1em;
      }

      .img {
        img {
          display: flex;
          flex-direction: column;
          width: 100px;
          height: 100px;

        }

        button {

          margin-top: 20px;
          padding: 10px 20px;
          font-size: 1em;
        }
      }

      .text {
        margin-left: 20px;
      }
    }

    .what-popular {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 30px;

      .btn {
        display: flex;

        .togle-clas{
          background-color: blue;
          width: 90px;
          height: 30px;
          display: flex;
          opacity: 0.5;
          border-radius: 12px;
          align-items: center;
          justify-content: center;
          transition: all 2s;
        }

        .togle {
          display: flex;
          border: 2px black solid;
          border-radius: 12px;
          width: 400px;
          height: 30px;
          margin-left: 20px;
          justify-content: space-around;
          align-items: center;

          span {
            opacity: 1;
          }
        }

      }
    }

    .free-watch {
      margin-left: 30px;

      .btn {
        display: flex;

        .togle-clas {
          width: 90px;
          height: 30px;
          display: flex;
          background-color: blue;
          opacity: 0.5;
          border-radius: 12px;
          align-items: center;
          justify-content: center;
          transition: all 2s;
        }

        .togle {
          display: flex;
          border-radius: 12px;
          border: 2px solid black;
          width: 200px;
          height: 30px;
          justify-content: space-around;
          align-items: center;
          margin-top: 15px;
          margin-left: 20px;

          span {
            font-size: 1em;
            color: black;
            opacity: 1;
          }


        }
      }
    }
      .random-bg{
        padding-top: 30px;
        .bg{
          background-image: url();
          width: 100%;
          height: 40vh;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

  }

}