<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    
    <card  data-id='' class="movieCard">
        <a href="movie.html" data-click="true" class="card-img-btn">
          <img
            class="card-img img-fluid"
            src="https://image.tmdb.org/t/p/w500//g6MrJxNaHYGYU7Sxo72e5B8gKOV.jpg"
            alt="something movie"
          />
        </a>
        
        <div class="card-body">
          <div class="card-click">
            <ul>
              <li>
                <button class="addlistbtn" data-addlist="false">
                  <i class="fa-solid fa-list"></i>
                  Add to list</button>
                 <i class="fa-solid fa-heart"></i>
                  Favourite</button>
              </li>
                </li>
              <li>
                <button class="favbtn" data-favlist="false">
             <li>
                <button  class="watchbtn" data-watchlist="false">
                  <i class="fa-solid fa-clipboard-list"></i>
                  Watchlist
                </button>
              </li>
              <li  class="Rating">
                <button class="ratebtn" title="Rate It">
                <i class="fa-solid fa-star"></i>
                Rate
                </button>
                <div class="star-rating star-rating-card mt-1 px-1">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                        <i class="fa-solid fa-circle-minus removebtn my-2 px-1"></i>
                      </div>
                </li>
            </ul>
          </div>
          <div class="circle-progressbar">
            <div
              role="progressbar"
              aria-valuenow="88"
              aria-valuemin="0"
              aria-valuemax="100"
              style="--value: 88"
            ></div>
          </div>
          <a href="movie.html" data-click="true" class="card-title"> Halo </a>
          <p class="card-text">Mar 25, 2022</p>
        </div>
      </card>

      <div class="card-list">
        
      </div>

      <script src="../js/card.js"></script>
</body>
</html>