<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../sass/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="conteiner-movie">
    <div class="topnav" id="myTopnav">
      <div class="link-side">
        <a href="index.html" class="TMDB">TMDB</a>
        <a href="" class="film">Movies</a>
        <div style="display: none" class="click">
          <ul>
            <li><a href="">popular</a></li>
            <li><a href="">Now playin</a></li>
            <li><a href="">upcoming</a></li>
            <li><a href="">top reated</a></li>
          </ul>
        </div>
        <a href="" class="twShows">Tw shows</a>
        <div style="display: none" class="click tw-shows">
          <ul>
            <li><a href="">popular</a></li>
            <li><a href="">airing today</a></li>
            <li><a href="">On tw </a></li>
            <li><a href="">top Rated</a></li>
          </ul>
        </div>
        <a href="" class="people-a">people</a>
        <div style="display: none" class="click people">
          <ul>
            <li><a href="">popular people</a></li>
          </ul>
        </div>
        <a href="" class="moreA">more</a>
        <div style="display: none" class="click more">
          <ul>
            <li><a href="">Discussions</a></li>
            <li><a href="">Leaderboard</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Api</a></li>
          </ul>
        </div>
      </div>
      <div class="search-side">
        <a href="">Войти</a>
        <a href="">Присоединиться к TMDB</a>
        <i class="fa-solid fa-magnifying-glass"></i>
        <a href="javascript:void(0);" class="icon" onclick="navTogle()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="header">

    </div>
    <div class="cast">
      <div class="video">
        <div class="cardd">
          <h2 class="top">Top billed cast</h2>
          <div class="flex">

          </div>
        </div>

        <div class="about">
          <div class="profile">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-solid fa-link"></i>
          </div>

        </div>
      </div>
    </div>
    <div class="Recommendationss">
      <h1>Recommendations</h1>
      <div class="Recommendations">

      </div>
    </div>
    <script type="module" src="../node_modules/moment/moment.js"></script>
    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/card.js"></script>
    <script type="module" src="../js/router.js"></script>
    <script type="module" src="../js/rate.js"></script>
    <img src="" alt="">
</body>

</html>