<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../sass/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="conteiner-movie">
    <div class="topnav" id="myTopnav">
      <div class="link-side">
        <a href="index.html" class="TMDB">TMDB</a>
        <a href="" class="film">Movies</a>
        <div style="display: none" class="click">
          <ul>
            <li><a href="">popular</a></li>
            <li><a href="">Now playin</a></li>
            <li><a href="">upcoming</a></li>
            <li><a href="">top reated</a></li>
          </ul>
        </div>
        <a href="" class="twShows">Tw shows</a>
        <div style="display: none" class="click tw-shows">
          <ul>
            <li><a href="">popular</a></li>
            <li><a href="">airing today</a></li>
            <li><a href="">On tw </a></li>
            <li><a href="">top Rated</a></li>
          </ul>
        </div>
        <a href="" class="people-a">people</a>
        <div style="display: none" class="click people">
          <ul>
            <li><a href="">popular people</a></li>
          </ul>
        </div>
        <a href="" class="moreA">more</a>
        <div style="display: none" class="click more">
          <ul>
            <li><a href="">Discussions</a></li>
            <li><a href="">Leaderboard</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Api</a></li>
          </ul>
        </div>
      </div>
      <div class="search-side">
        <a href="">Войти</a>
        <a href="">Присоединиться к TMDB</a>
        <i class="fa-solid fa-magnifying-glass"></i>
        <a href="javascript:void(0);" class="icon" onclick="navTogle()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="header">
      <div class="bg-img">
        <div class="img-side">
          <div class="img">
            <a href="#">

            </a>
          </div>
        </div>
        <div class="text-side">
          <div class="movie">
            <h1>Dune: part two (2024)</h1>
            <p><button>PG-14</button> 2024-03-01 (Us) • Science Fiction , Adventure • 2h 47m</p>
          </div>

          <div class="user-score">
            <div class="circle-progressbar">
              <div class="progress-bar " role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
                style="--value: 93"></div>
            </div>
            <h3>user <br> score</h3>
            <div class="d-flex">
              <p>🤯</p>
              <p>😍</p>
              <p>😃</p>
            </div>
            <button class="movie-btn"> What's your vibe? ©</button>
          </div>
          <div class="pley-trailer">
            <i class="br fa-solid fa-list"></i>
            <i class="br fa-solid fa-heart"></i>
            <i class="br fa-solid fa-bookmark"></i>
            <button> <i class="fa-solid fa-play"></i> play trailer</button>
          </div>
          <div class="owerview">
            <i>long live the fighters</i>
            <h1>owerview</h1>
            <p class="follow">Follow the mythic journey of Paul Atreides as he unites with Chani and the Fremen while on
              a
              path of
              revenge against the conspirators who destroyed his family. Facing a choice between the love of his life
              and the fate of the <br> known universe, Paul endeavors to prevent a terrible future only he can
              foresee.</p>
            <div class="people">
              <div class="denis">
                <h3>Denis Villeneuve</h3>
                <p>Director, Screenplay</p>
              </div>
              <div class="frank">
                <h3>frank Herbet</h3>
                <p>Novel</p>
              </div>
              <div class="Jon">
                <h3>Jon Spaihts</h3>
                <p>Screenplay</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="cast">
      <div class="video">
        <div class="cardd">
          <h2 class="top">Top billed cast</h2>
          <div class="flex">
            <div class="person">
              <div class="border">
                <img src="/assets/img/i (1).webp" alt="">
                <h2>Ella purnell</h2>
                <p>Lucy MacLean</p>
                <p>8 Episodes</p>
              </div>
            </div>
            <div class="person">
              <div class="border">
                <img src="/assets/img/i (1).webp" alt="">
                <h2>Ella purnell</h2>
                <p>Lucy MacLean</p>
                <p>8 Episodes</p>
              </div>
            </div>
            <div class="person">
              <div class="border">
                <img src="/assets/img/i (1).webp" alt="">
                <h2>Ella purnell</h2>
                <p>Lucy MacLean</p>
                <p>8 Episodes</p>
              </div>
            </div>
            <div class="person">
              <div class="border">
                <img src="/assets/img/i (1).webp" alt="">
                <h2>Ella purnell</h2>
                <p>Lucy MacLean</p>
                <p>8 Episodes</p>
              </div>
            </div>
            <div class="person">
              <div class="border">
                <img src="/assets/img/i (1).webp" alt="">
                <h2>Ella purnell</h2>
                <p>Lucy MacLean</p>
                <p>8 Episodes</p>
              </div>
            </div>
            <div class="person">
              <div class="border">
                <img src="/assets/img/i (1).webp" alt="">
                <h2>Ella purnell</h2>
                <p>Lucy MacLean</p>
                <p>8 Episodes</p>
              </div>
            </div>
            <div class="person">
              <div class="border">
                <img src="/assets/img/i (1).webp" alt="">
                <h2>Ella purnell</h2>
                <p>Lucy MacLean</p>
                <p>8 Episodes</p>
              </div>
            </div>
            <div class="person">
              <div class="border">
                <img src="/assets/img/i (1).webp" alt="">
                <h2>Ella purnell</h2>
                <p>Lucy MacLean</p>
                <p>8 Episodes</p>
              </div>
            </div>
          </div>
        </div>

        <div class="about">
          <div class="profile">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-solid fa-link"></i>
          </div>
          <div class="column">
<div class="status">
     <h3>status</h3>
            <p>Released</p>
</div>
<div class="Original-Language">
  <h3>Original Language</h3>
  <p>English</p>
</div>
<div class="budget">
  <h3>Budget</h3>
  <p>$83,000,000.00</p>
</div>
<div class="Revenue">
  <h3>Revenue</h3>
  <p>-</p>
</div>
         
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="../node_modules/moment/moment.js"></script>
    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/card.js"></script>
</body>

</html>