<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popular movie</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <div class="conteiner-nav">
      <div class="topnav" id="myTopnav">
        <div class="link-side">
          <a href="movie.html" class="TMDB">TMDB</a>
          <a href="" class="film">Movies</a>
          <div style="display: none" class="click">
            <ul>
              <li><a href="">popular</a></li>
              <li><a href="">Now playin</a></li>
              <li><a href="">upcoming</a></li>
              <li><a href="">top reated</a></li>
            </ul>
          </div>
          <a href="" class="twShows">Tw shows</a>
          <div style="display: none" class="click tw-shows">
            <ul>
              <li><a href="">popular</a></li>
              <li><a href="">airing today</a></li>
              <li><a href="">On tw </a></li>
              <li><a href="">top Rated</a></li>
            </ul>
          </div>
          <a href="" class="people-a">people</a>
          <div style="display: none" class="click people">
            <ul>
              <li><a href="">popular people</a></li>
            </ul>
          </div>
          <a href="" class="moreA">more</a>
          <div style="display: none" class="click more">
            <ul>
              <li><a href="">Discussions</a></li>
              <li><a href="">Leaderboard</a></li>
              <li><a href="">Support</a></li>
              <li><a href="">Api</a></li>
            </ul>
          </div>
        </div>
        <div class="search-side">
          <a href="">login</a>
          <a href="">Join TMDB</a>
          <i class="fa-solid fa-magnifying-glass"></i>
          <a href="javascript:void(0);" class="icon" onclick="navTogle()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="container-popular-movie">
      <button class="accordion">Sort</button>
      <h5>
          Sort Results By
      </h5>
      <button class="accordion">Filters</button>
      <div style="border: 1px solid gray; width: 250px; border-radius: 8px;" class="panel">
          <div style="border-bottom: 1px solid gray;" class="popular-movie-show">
              <p>Show me</p>
              <input type="radio">
              <label for="">Everyrhing</label>
              <br>
              <input type="radio">
              <label for="">TV Shows I Haven't Seen</label>
              <br>
              <input type="radio">
              <label for=""> TV Shows I Have Seen</label>
          </div>
          <div style="border-bottom: 1px solid gray; " class="avail">
              <p>
                  Availabilities
              </p>
              <input type="checkbox">
              <label for="">Search all availabilities?</label>
              <br>
              <input type="checkbox">
              <label for="">Stream</label>
              <br>
              <input type="checkbox">
              <label for="">Free</label>
              <br>
              <input type="checkbox">
              <label for="">Ads</label>
              <br>
              <input type="checkbox">
              <label for="">Rent</label>
              <br>
              <input type="checkbox">
              <label for="">Buy</label>
          </div>
          <div style="border-bottom: 1px solid gray; " class="popular-movie-dates">
              <p>
                  Air Dates
              </p>
              <input type="checkbox">
              <label for="">Search all episodes?</label>
              <br>
              <label for="">from</label>
              <input class="input-text" type="date">
              <br>
              <label for="">to</label>
              <input class="input-text" style="margin-left: 19px;" type="date">
          </div>
          <div style="border-bottom: 1px solid gray; " class="popular-movie-genres">
              <p>
                  Genres
              </p>
              <button class="popular-movie-btn">
                  Adventure
              </button>
              <br>
              <button class="popular-movie-btn">
                  Animation
              </button>
              <button class="popular-movie-btn">
                  Comedy
              </button>
              <br>
              <button class="popular-movie-btn">
                  Crime
              </button>
              <button class="popular-movie-btn">
                  Documentory
              </button>
              <br>
              <button class="popular-movie-btn">
                  Drama
              </button>
              <button class="popular-movie-btn">
                  Family
              </button>
              <button class="popular-movie-btn">
                  Kids
              </button>
              <br>
              <button class="popular-movie-btn">
                  Mystery
              </button>
              <button class="popular-movie-btn">
                  News
              </button>
              <button class="popular-movie-btn">
                  Reality
              </button>
              <br>
              <button class="popular-movie-btn">
                  Sci-Fi & Fantasy
              </button>
              <button class="popular-movie-btn">
                  Soap
              </button>
              <br>
              <button class="popular-movie-btn">
                  Talk
              </button>
              <button class="popular-movie-btn">
                  War & Politics
              </button>
              <br>
              <button class="popular-movie-btn">
                  Western
              </button>
          </div>
          <div class="popular-movie-certification">
              <p>
                  Certification
              </p>
              <button class="popular-movie-btn">
                  NR
              </button>
              <button class="popular-movie-btn">
                  TV-Y
              </button>
              <button class="popular-movie-btn">
                  TV-Y7
              </button>
              <br>
              <button class="popular-movie-btn">
                  TV-G
              </button>
              <button class="popular-movie-btn">
                  TV-PG
              </button>
              <button class="popular-movie-btn">
                  TV-14
              </button>
              <br>
              <button class="popular-movie-btn">
                  TV-MA
              </button>
          </div>
          <div class="popular-movie-network">
              <p>
                  Network
              </p>
              <input class="input-text-key" type="text">
          </div>
          <div class="user-score">
              <p>
                  User Score
              </p>
              <input class="input-range" type="range">
          </div>
          <div class="minimum-user-votes">
              <p>
                  Minimum User Votes
              </p>
              <input class="input-range" type="range">
          </div>
          <div class="popular-movie-runtime">
              <p>
                  Runtime
              </p>
              <input class="input-range" type="range">
          </div>
          <div class="popular-movie-key">
              <p>
                  Keywords
              </p>
              <input class="input-text-key" type="text">
          </div>
      </div>
  </div>

  <div class="footer">
    <div class="footer-wit">
      <div class="img">
        <img src="/assets/img/2560px-Tmdb.new.logo.svg.png" alt="" />
        <button>join the comunity</button>
      </div>
      <div class="text">
        <h2>THE BASICS</h2>
        <p>About TMDB</p>
        <p>contact us</p>
        <p>support forums</p>
        <p>api</p>
        <p>system status</p>
      </div>
      <div class="text">
        <h2>GET INVOLVED</h2>
        <p>Contribution Bible</p>
        <p>Add New Movie</p>
        <p>Add New TV Show</p>
      </div>
      <div class="text">
        <h2>COMMUNITY</h2>
        <p>Guidelines</p>
        <p>Discussions</p>
        <p>Leaderboard</p>
      </div>
      <div class="text">
        <h2>LEGAL</h2>
        <p>Terms of Use</p>
        <p>API Terms of Use</p>
        <p>Privacy Policy</p>
        <p>DMCA Policy</p>
      </div>
    </div>
  </div>

  <script src="../utils/accordion.js"></script>
  <script src="../utils/tab.js"></script>
  <script type="module" src="../js/router.js"></script>
  </body>
</html>