<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular People</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="conteiner-nav">
        <div class="topnav" id="myTopnav">
          <div class="link-side">
            <a href="movie.html" class="TMDB">TMDB</a>
            <a href="" class="film">Movies</a>
            <div style="display: none" class="click">
              <ul>
                <li><a href="">popular</a></li>
                <li><a href="">Now playin</a></li>
                <li><a href="">upcoming</a></li>
                <li><a href="">top reated</a></li>
              </ul>
            </div>
            <a href="" class="twShows">Tw shows</a>
            <div style="display: none" class="click tw-shows">
              <ul>
                <li><a href="">popular</a></li>
                <li><a href="">airing today</a></li>
                <li><a href="">On tw </a></li>
                <li><a href="">top Rated</a></li>
              </ul>
            </div>
            <a href="" class="people-a">people</a>
            <div style="display: none" class="click people">
              <ul>
                <li><a href="">popular people</a></li>
              </ul>
            </div>
            <a href="" class="moreA">more</a>
            <div style="display: none" class="click more">
              <ul>
                <li><a href="">Discussions</a></li>
                <li><a href="">Leaderboard</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Api</a></li>
              </ul>
            </div>
          </div>
          <div class="search-side">
            <a href="">login</a>
            <a href="">Join TMDB</a>
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="javascript:void(0);" class="icon" onclick="navTogle()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>
      </div>
    <div class="popular-movie-people-container">
        <h2>
            Popular People
        </h2>
        <div class="popular-movie-people1">
            <div class="image-card">
                <img src="photo2.webp" alt="">
                <div class="card-content">
                    <h3>Jason Stathem</h3>
                    <p>
                        The Meg, The Transporter, and The Fate of the Furious
                    </p>
                </div>
            </div>
           
        </div>
        
    </div>
    
    <div class="footer">
        <div class="footer-wit">
          <div class="img">
            <img src="/assets/img/2560px-Tmdb.new.logo.svg.png" alt="" />
            <button>join the comunity</button>
          </div>
          <div class="text">
            <h2>THE BASICS</h2>
            <p>About TMDB</p>
            <p>contact us</p>
            <p>support forums</p>
            <p>api</p>
            <p>system status</p>
          </div>
          <div class="text">
            <h2>GET INVOLVED</h2>
            <p>Contribution Bible</p>
            <p>Add New Movie</p>
            <p>Add New TV Show</p>
          </div>
          <div class="text">
            <h2>COMMUNITY</h2>
            <p>Guidelines</p>
            <p>Discussions</p>
            <p>Leaderboard</p>
          </div>
          <div class="text">
            <h2>LEGAL</h2>
            <p>Terms of Use</p>
            <p>API Terms of Use</p>
            <p>Privacy Policy</p>
            <p>DMCA Policy</p>
          </div>
        </div>
      </div>
      <script src="../utils/tab.js"></script>
    <script type="module" src="../js/router.js"></script>
</body>

</html>